@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

/* Reset any default body spacing */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* prevent horizontal scroll globally */
}
